body{
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(222, 240, 233);
}

h1{
    text-align: center;
    margin-top: 220px;
    font-size: 65px;
    color: rgb(8, 131, 85);
}

.image{
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 40px;
    width: 50%;
    float: left;
}

.firsPal{
    width: 600px;
    margin-right: 40px;
}

.overview{
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    float: left;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(243, 247, 237);
}

.topAttractions{
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(243, 247, 237);
}

.discriptions{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 50px;
    margin-top: 50px;
    float: left;
    border-radius: 10px;
    background-color: rgb(243, 247, 237);
}

.attraction{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.ovDiscription{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 17px;
}

.topAtractionHeading{
    text-align: center;
}

.placeDiscription{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    text-align: justify;
}

.placeHeading{
    text-align: center;
}


.headpane{
    display:inline-block;
    position:fixed;
    top:0;
    background-color:#11998e;
}
    
div.headpane{
    width:100%;
    height:150px;
}
 
p.titlepane{
    font-size:50px;
    margin-top:30px;
    margin-bottom:8px;
    font-weight:bolder;
}

img.titlepane{
    float:left;
}



.footer-container{
    background-color: rgb(62, 119, 38);
    padding:2rem 0 1rem 0;
    padding: 0;
    margin: 0;
    margin-top: 96%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: rgb(62, 119, 38);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;

}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;

}

.footer-heading a:hover, a::after{
    color: red;
    transition: 0.3s ease-out;
    font-size: 160%;
}

.footer-email-form h2{
    margin-bottom: 2rem;

}

#placesToSee{
    text-align: center; 
    text-decoration: underline; 
    width: 100%; 
    margin-bottom: 40px; 
    font-size: 30px;
}


#paratitlepane{
    font-size:25px;
    margin-top:0;
    margin-bottom:0;
    margin-left:10px;
    font-weight:bold;
}
#navipane li{
    list-style-type:none;
    color: white;
    display:inline-block;
    font-size: 34px;
    background-color: #505050;
    padding-left:19px;
    padding-right:19px;
    margin-right:-4px;
}
#navipane li:hover{
    background-color: #11998e;
}


#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder{
    color: rgb(151, 150, 150);
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(69, 160, 98);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;

}
#footer-email-btn:hover{
    cursor: pointer;
    background-color: rgb(15, 70, 153);
    transition: all 0.4s ease-out;
}
.footer img{
    display: inline;
    width: 15%;
    height: auto;
    padding: 0 0 0 10px;
    margin:50px 0 0 20px;
}

#navipane li a{
    color: white;
    text-decoration:none;
}
